html {
	height: 100%;
}

body {
	margin: 0px;
	height: 100%;
}

.wrapper {
	width: 100%;
	min-width: 600px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	background: #4B79A1;
	background: -webkit-linear-gradient(to top, #283E51, #4B79A1);
	background: linear-gradient(to top, #283E51, #4B79A1);
}

.header {
	height: 70px;
	background: #4B79A1;
	background: -webkit-linear-gradient(to top, #283E51, #4B79A1);
	background: linear-gradient(to top, #283E51, #4B79A1);
}

.header h1 {
	margin: 0px;
}

.ui-menu, .ui-menu .ui-menu-child {
	background: #232526 !important;
	background: -webkit-linear-gradient(to top, #232526, #414345) !important;
	background: linear-gradient(to top, #232526, #414345) !important;
	border: 0 none !important;
	color: white !important;
}

.ui-menu, .ui-menu  a {
	color: white !important;
}

.fa {
	color: #FFF !important;
}

.ui-menu .ui-menu-parent .ui-menu-child {
	background: #8e9eab !important;
	background: -webkit-linear-gradient(to top, #8e9eab, #eef2f3) !important;
	background: linear-gradient(to top, #8e9eab, #eef2f3) !important;
}

.ui-menu .ui-menu-parent .ui-menu-child .fa {
	color: black !important;
}

.ui-menu .ui-menu-parent .ui-menu-child a {
	color: black !important;
}

.ui-datagrid .ui-datagrid-header {
	color: white;
	background: #232526 !important;
	background: -webkit-linear-gradient(to top, #232526, #414345) !important;
	background: linear-gradient(to top, #232526, #414345) !important;
}

.ui-paginator.ui-paginator-top {
	background-color: #eaeaea;
}

.ui-panel .ui-panel-titlebar {
	color: white !important;
	background: #232526 !important;
	background: -webkit-linear-gradient(to top, #232526, #414345) !important;
	background: linear-gradient(to top, #232526, #414345) !important;
	text-align: center !important;
}

.iconOnlyButton {
	background: transparent !important;
	border: none !important;
	margin: 0 0 0 0 !IMPORTANT;
}

.contentdiv {
	padding: 0 0 80px;
	margin: 10px auto 0 auto;
	height: 100%;
	width: 600px;
	background: #DDDDDD;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 2px #F4F4F4 inset, -1px -1px 2px #C6C6C6 inset;
	border-radius: 3px/6px;
}

.ui-datagrid .ui-widget img {
	width: 300px;
	height: 300px;
}

.contentdiv .ui-inputfield, .ui-widget-content .input-password {
	background: #e6e6e6 !important;
	padding: 0 0 0 10px !important;
	color: #909090 !important;
	border: #e6e6e6 1px solid !important;
	border-radius: 25px !important;
	min-height: 30px !important;
	width: 85% !important;
	font-size: 1em !important;
}

.btnDelete {
	background-image: url("#{resource['images/delete.png']}") !important;
	width: 30px !important;
	height: 30px !important;
	background-position: 0px 0px !important;
}

.btnModify {
	background-image: url("#{resource['images/edit.png']}") !important;
	width: 30px !important;
	height: 30px !important;
	background-position: 0px 0px !important;
}

.btnView {
	background-image: url("#{resource['images/eye.png']}") !important;
	width: 30px !important;
	height: 30px !important;
	background-position: 0px 0px !important;
}

.btnCart {
	background-image: url("#{resource['images/carttiny.png']}") !important;
	width: 30px !important;
	height: 30px !important;
	background-position: 0px 0px !important;
}

.contentdiv .buttonUp {
	background: #ffdb00 !important;
	width: 100% !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	color: black !important;
	border-radius: 4px !important;
	border: #ffdb00 1px solid !important;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
	font-weight: normal !important;
	font-size: 0.8em !important;
}

.menu .ui-dock-container-top .ui-widget-header {
	width: 500px !important;
	background: #0f2027 !important;
	background: -webkit-linear-gradient(to top, #0f2027, #203a43, #2c5364)
		!important;
	background: linear-gradient(to top, #0f2027, #203a43, #2c5364)
		!important;
}

.styled-select {
	-moz-appearance: window;
	-webkit-appearance: none;
	background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0
		!important;
	height: 29px !important;
	width: 85% !important;
	overflow: hidden !important;
}

.styled-select select {
	background: transparent !important;
	border: none !important;
	font-size: 14px !important; *
	width: 87% !important;
	height: 29px !important;
	padding: 5px !important;
	height: 30px !important;
}

.rounded {
	-webkit-border-radius: 20px !important;
	-moz-border-radius: 20px !important;
	border-radius: 20px !important;
}

.grey {
	background-color: #e6e6e6 !important;
}

.ui-panelgrid-cell img {
	width: 250px;
	height: 250px;
}

.logo {
	width: 5%
}

.detail {
	width: 90%;
	padding-left: 25px;
}

.detail td {
	font-size: 24px;
}

.ui-datascroller .ui-datascroller-item {
	border-bottom: 1px solid #A8A8A8;
	padding: 25px 10px;
}