html{
	height: 100%;
}
body {
		margin:0px;
		height: 100%;
		
}

.wrapper {
	width: 100%;
	min-width: 600px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
background: #3E5151;
background: -webkit-linear-gradient(to top, #DECBA4, #3E5151);
background: linear-gradient(to top, #DECBA4, #3E5151);
}

.header {
	height: 70px;
	background: #4B79A1; 
background: -webkit-linear-gradient(to top, #283E51, #4B79A1);  
background: linear-gradient(to top, #283E51, #4B79A1);

}
.header h1 {
	margin:0px;

}
